<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.blender279modular">

    <uses-sdk android:minSdkVersion="24" android:targetSdkVersion="34" />
    <uses-feature android:glEsVersion="0x00030000" android:required="true" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Blender279Modular"
        android:hardwareAccelerated="true"
        android:largeHeap="true"
        android:extractNativeLibs="true">

        <activity
            android:name="com.blender279modular.BlenderActivity"
            android:exported="true"
            android:configChanges="orientation|screenSize|keyboardHidden|density"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.Blender279Modular.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="android.app.lib_name"
            android:value="blender279_modular" />
    </application>
</manifest>